body {
    margin: 0 auto;
    background-color: #000000;
    overflow: hidden;
    text-align: center;
    font-family: Arial;
    font-size: 22px;
}
#score, header {
    background-color: #ecf0f1;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    min-height: 30px;
    padding: 5%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#score {
    color: #fff;
    display: none;
}
canvas {
    position: fixed;
		top: 0;
    left: 0;
    z-index: -1;
}
.hideImportant {
    display: none!important;   
}
#userScore, button {
    font-family: 'VT323';
    font-size: 20px;
		min-height: 50px;
    background-color: #ccc;
    color: #000;
    padding: 0px 15px;
    position: fixed;
    bottom: 15px;
    border: 0;
    z-index: 100;
}

@font-face {
    font-family: VT323;
    src: url(../fonts/VT323-Regular.ttf);
}

#userScore {
		left: 15px;
    background-color: #000;
    color: #ecf0f1;
    width: 70px;
    font-size: 25px;
}
p {
		margin: 5px;
}
#share {
		bottom: 80px;
    right: 15px;
}
#play {
		right: 15px;
}